# Build (including build-debug, build-release, and build-sink-release)
build*/
cmake-build-*/

compile_commands.json

# Editor / IDE
.vscode/
.idea/
.cache/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Nix
.envrc
.direnv/
result/
result
result-*
/TODO.md
/pr-*.md
/.github/workflows/scripts/__pycache__
